######### Google App Credentials #########
GOOGLE_APP_PASSWORD=your_google_app_password
GOOGLE_APP_EMAIL=your_email@gmail.com

######### Redis #########
REDIS_HOST=your_redis_host
REDIS_PASSWORD=your_redis_password
REDIS_USER=default
REDIS_PORT=1234

######### JWT #########
JWT_SECRET=your_jwt_secret

######### Database URI #########
MONGO_URI=mongodb://localhost:27017/auth-service

######### Development #########
PORT=3000
NODE_ENV=development